.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.addTaskContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.taskInput {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  width: 70%;
  height: 50px;
  box-sizing: border-box;
}

.columnSelect {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  width: 20%;
  height: 50px;
}

.addTaskButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
}

.addTaskButton:hover {
  background-color: #005bb5;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.column {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.column h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusButton {
  padding: 8px 12px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.statusButton:hover {
  background-color: #005bb5;
}

@media (max-width: 768px) {
  .board {
    grid-template-columns: 1fr;
  }

  .column {
    width: 100%;
    margin: 0 0 20px;
  }

  .addTaskContainer {
    flex-direction: column;
  }

  .taskInput, .columnSelect, .addTaskButton {
    width: 100%;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .taskInput, .columnSelect, .addTaskButton {
    font-size: 14px;
    padding: 8px;
    height: 50px;
  }

  .task {
    font-size: 14px;
  }
  .statusButton {
    font-size: 12px;
    padding: 6px 8px;
  }
}
